/** @format */

* {
  margin: 0;
}
.chapterHeading {
  top: 0;
  position: sticky;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(230, 227, 227);
}
.chapterHeadingTitle {
  width: 100%;
  background-color: rgb(201, 195, 195);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.changeChap:hover {
  cursor: pointer;
  color: rgb(145, 49, 49);
}
.TableOfShlokas tr td {
  background-color: rgb(214, 211, 211);
  font-weight: 600;
  padding: 0 0.3vw 0 0.5vw;
}
.TableOfShlokas tr td:hover {
  background-color: rgb(187, 171, 171);
  transition: ease-in-out 250ms;
}
.footer {
  width: 100%;
  background-color: rgb(211, 211, 211);
}
.homeButton {
  background-color: rgb(255, 194, 81);
  color: blue;
  font-family: "Times New Roman";
  font-size: 1.1em;
  font-weight: 700;
  border: 1px solid rgb(111, 111, 112);
  outline: none;
}
.homeButton:hover {
  background-color: rgb(250, 201, 136);
  cursor: pointer;
}
.linktoShloka {
  text-decoration: none;
  color: rgb(6, 6, 179);
}
.TableOfShlokas {
  background-color: white;
}
.shlokaByChapter {
  overflow-y: scroll;
}
.chapterHeading h2 {
  font-family: monospace;
  font-size: 2.3em;
  color: rgb(19, 53, 47);
  background-color: rgb(201, 195, 195);
}
.chapter {
  background: url("../img/chapterpagebackground.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-blend-mode: lighten;
}
@media only screen and (max-width: 500px) {
  .chapterHeading h2 {
    font-size: 6vw;
  }
  .LinkTOShloka {
    height: 0.8vh;
  }
  .linktoShloka {
    font-size: x-small;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1300px) {
  .chapterHeading h2 {
    font-size: 3.2vw;
  }
}
