/** @format */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:wght@500&display=swap");
.noShlokaPage {
  height: 100vh;
  background: url(../img/mahatmyaBackground.jpg);
  overflow: auto;
}
.geetaMahatmya {
  background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: auto;
}
.goToChapters {
  transition: ease-in-out 250ms;
  margin-right: 5vw;
  margin-left: -15vw;
  background-color: rgb(255, 252, 96);
  font-family: "Balsamiq Sans", cursive;
  padding: 1vw 1.7vw 1vw 1.7vw;
  border-radius: 0.9vw;
}

.noShlokas {
  margin-top: 60vh;
  border-radius: 1.1vw;
  margin-left: auto;
  margin-right: auto;
  width: 55vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to right bottom,
    #cce5a0,
    #cce59b,
    #cde597,
    #cde492,
    #cee48d,
    #d1e488,
    #d4e584,
    #d8e57f,
    #e0e67a,
    #e8e674,
    #f0e76f,
    #f9e76a
  );
}
.changeMahatmyaState {
  height: 20%;
  width: 60%;
  background-image: linear-gradient(
    to left top,
    #f9ca6a,
    #f6cc6f,
    #f3ce74,
    #f0cf79,
    #edd17e,
    #eed27d,
    #eed47d,
    #efd57c,
    #f3d775,
    #f7d86e,
    #fbda67,
    #ffdb60
  );
  border: 1px solid grey;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 0.9vw;
  margin-top: 5%;
}
.changeMahatmyaState:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to left top,
    #f1b53b,
    #f4ba38,
    #f7be35,
    #fac332,
    #fcc82f,
    #fcc92d,
    #fbcb2a,
    #fbcc28,
    #f8c927,
    #f5c726,
    #f3c424,
    #f0c223
  );
  border: 1px solid tan;
  transition: ease-in-out 250ms;
}
.gotochaptersdirect {
  font-family: "Balsamiq Sans", cursive;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  margin-bottom: 3vh;
}
.mahatmyaTop table {
  margin-top: 1vh;
}
.gotoshlokatitle {
  color: rgb(16, 28, 95);
  font-weight: 700;
  font-family: "Balsamiq Sans", cursive;
}
.mahatmyaTop table,
td {
  padding: 0.3vw;
  border: 1.5px dashed black;
}
.linkMahamtmya {
  text-decoration: none;
  color: rgb(138, 0, 0);
  font-weight: 750;
}
.goToChapters:hover {
  text-decoration: underline;
  background-color: rgb(255, 208, 121);
  color: blue;
}
.mahatmyaheadingtop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LibraryIcon:hover {
  cursor: pointer;
  color: rgb(204, 43, 21);
  transition: ease-in-out 250ms;
}
.geetaMahatmyaHindiData {
  font-family: "Poppins", sans-serif !important;
}
.mahatmyaHeading {
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  margin-top: 3vh;
  width: fit-content;
  text-align: center;
  padding: 0.7vw 0.8vw 0.3vw 0.8vw;
  color: rgba(1, 1, 102, 0.856);
  font-weight: 600;
  font-family: "Balsamiq Sans", cursive;
  font-size: 2.5em;
  background: rgb(255, 200, 97);
  border-radius: 0.9vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.shloka {
  height: 80vh;
  overflow-y: scroll;
}
.mahatmyaShloka {
  margin-top: 3vh;
  width: 90vw;
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #e1f5c4,
    #ede574
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #e1f5c4,
    #ede574
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1.1vw;
  padding: 1vh 0.5vh 1vh 0.5vh;
}
.mahatmyaShloka h2 {
  font-family: "Balsamiq Sans", cursive !important;
  margin-bottom: 1vh;
}

.mahatmyaShloka p:nth-child(4) {
  margin-top: 1.5vh;
}
.mahatmyaShloka p:nth-child(4),
.mahatmyaShloka p:nth-child(7) {
  text-align: justify;
}
.mahatmyaShloka p:nth-child(2),
.mahatmyaShloka p:nth-child(3),
.mahatmyaShloka p:nth-child(5),
.mahatmyaShloka p:nth-child(6) {
  font-weight: 650;
}
.mahatmyaShloka p {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.7vw;
}
.mahatmyaShloka:nth-child(7) {
  margin-bottom: 2vh;
}
@media only screen and (max-width: 500px) {
  .mahatmyaHeading {
    font-size: 1.45em;
  }
  .changeMahatmyaState {
    font-size: 0.7em;
  }
  .gotochaptersdirect {
    font-size: small;
  }
  .mahatmyaShloka h2 {
    font-size: 1.2em;
  }
  .mahatmyaShloka p {
    font-size: 0.98em;
  }
  .shloka {
    height: 80vh;
  }
}
@media only screen and (max-width: 1050px) {
  .mahatmyaheadingtop {
    flex-direction: column;
  }
  .goToChapters {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1050px) {
  .mahatmyaHeading {
    font-size: 1.9em;
  }
  .gotochaptersdirect {
    font-size: 1.1em;
  }
  .changeMahatmyaState {
    font-size: 1em;
  }
  .mahatmyaShloka h2 {
    font-size: 1.5em;
  }
  .mahatmyaShloka p {
    font-size: 1.2em;
  }
  .shloka {
    height: 86vh;
  }
}
