.geetaMahatmya {
  background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: auto;
}
.goToChapters {
  margin-right: 5vw;
  margin-left: -15vw;
  background-color: rgb(250, 184, 61);
  font-family: -apple-system;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 0.5vw;
}
.goToChapters:hover {
  transition: ease-in-out 250ms;
  background-color: rgb(163, 133, 76);
}
.mahatmyaheadingtop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LibraryIcon:hover {
  cursor: pointer;
  color: rgb(204, 43, 21);
  transition: ease-in-out 250ms;
}
.mahatmyaHeading {
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  margin-top: 3vh;
  width: fit-content;
  text-align: center;
  padding: 0.7vw 0.8vw 0.3vw 0.8vw;
  color: rgba(1, 1, 102, 0.856);
  font-weight: 600;
  font-family: monospace;
  font-size: 2.5em;
  background: rgb(255, 200, 97);
  border-radius: 0.9vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.shloka {
  height: 84vh;
  overflow-y: scroll;
}
.mahatmyaShloka {
  margin-top: 3vh;
  width: 90vw;
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #e1f5c4,
    #ede574
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #e1f5c4,
    #ede574
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1.1vw;
  padding: 1vh 0.5vh 1vh 0.5vh;
}
.mahatmyaShloka h2 {
  font-family: "Times-New-Roman";
  margin-bottom: 1vh;
}

.mahatmyaShloka p:nth-child(4) {
  margin-top: 1.5vh;
}
.mahatmyaShloka p:nth-child(3),
p:nth-child(5) {
  text-align: justify;
}
.mahatmyaShloka p:nth-child(2),
p:nth-child(4) {
  font-weight: 650;
}
.mahatmyaShloka p {
  font-family: "Times New Roman";
  font-size: 1.7vw;
}
.mahatmyaShloka:nth-child(7) {
  margin-bottom: 2vh;
}
@media only screen and (max-width: 500px) {
  .mahatmyaHeading {
    font-size: 1.45em;
  }
  .mahatmyaShloka h2 {
    font-size: 1.2em;
  }
  .mahatmyaShloka p {
    font-size: 0.98em;
  }
  .shloka {
    height: 89vh;
  }
}
@media only screen and (max-width: 1000px) {
  .mahatmyaheadingtop {
    flex-direction: column;
  }
  .goToChapters {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1050px) {
  .mahatmyaHeading {
    font-size: 1.9em;
  }
  .mahatmyaShloka h2 {
    font-size: 1.5em;
  }
  .mahatmyaShloka p {
    font-size: 1.2em;
  }
  .shloka {
    height: 89vh;
  }
}
