#myInput {
  width: 50vw;
  height: 6vh;
  font-size: 1.5em;
  font-family: Cambria;
  padding: 0.3vw 0vw 0.5vw 4vw;
  outline: none;
  border: none;
  border-radius: 0 0 0.9vw 0.9vw;
  background: #efefbb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#myInput:focus {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#myTable {
  width: 100%;
  background: #f7f8f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acbb78,
    #f7f8f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acbb78,
    #f7f8f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1vw 1vw 0 0;
}
.tableRowDataMessage {
  text-align: left !important;
  padding-left: 3vw !important;
  border-bottom: 1px solid grey;
  font-size: 1.1em;
  font-weight: 600;
  font-family: Times;
}
.headingTable th {
  top: 0;
  font-size: 1.3em;
  border-bottom: 1px solid grey;
  font-family: Times;
  padding: 0.3vw;
  position: sticky;
  text-align: center;
  background-color: rgb(255, 166, 82);
  color: rgb(26, 26, 150);
}
.headingTable th:nth-child(1) {
  border-radius: 1vw 0 0 0;
  padding: 0.9vw !important;
}
.headingTable th:nth-child(4) {
  border-radius: 0 1vw 0 0;
}
.tableRowData:nth-child(2) {
  width: 15vw;
}
.tableRowData:nth-child(3) {
  width: 20vw;
}
.makeTable {
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.tableRowData {
  border-bottom: 1px solid grey;
  padding: 0.2vw;
  font-size: 1.1em;
  font-weight: 600;
  font-family: Times;
  text-align: center;
}
.tableRow:hover {
  background: #f7f8f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #acbb78,
    #f7f8f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #acbb78,
    #f7f8f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media only screen and (max-width: 500px) {
  #myInput {
    width: 60vw;
    height: 4vh;
    font-size: 1em;
    border-radius: 0 0 2vw 2vw;
  }

  .headingTable th {
    font-size: 0.9em;
    padding: 0.2vw;
  }
  .tableRowData {
    padding: 0.1vw;
    font-size: 0.8em;
  }
  .tableRowDataMessage {
    font-size: 0.8em;
  }
}
